<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ appimage.title_formatted }} | {{ catalog.title }}</title>
    {% include 'head.html' %}

  <body>
    {% include 'navigation.html' %}

    <!-- Hero / Featured Header -->
    <section style="margin-top: 3.25em;" class="hero is-medium is-bold">
      <div class="hero-body">
        <div class="container">
          <div class="columns is-desktop">
              <div class="column is-one-third-desktop has-text-left has-text-right-desktop">
                <img class="appimage-hero-img " src="{{ appimage.icon }}"
                     alt="{{ appimage.title }} logo">
              </div>
              <div class="column has-text-left has-text-left-desktop">                          
                <h1 class="title">
                    {{ appimage.title_formatted }}
                </h1>
                <h2 class="subtitle">
                  {{ appimage.maintainer }}
                  {% if appimage.is_verified %}
                    <i class="fa fa-check-circle"></i>
                  {% endif %}

                </h2>
                <h3>
                    {{ appimage.description }}
                </h3>
                <div class="field is-grouped is-grouped-multiline appimage-tags-group appimage-left-top-margin">
                  {{ appimage.categories_html }}
                </div>
                {{ appimage.github }}

              </div>

          </div>
          {{ appimage.screenshots_html }}

        </div>
      </div>
    </section>

    <!-- All the other code comes here! -->
    <!-- AppImage information -->
    <section class="section">
      <div class="container">
        <h1>Get {{ appimage.title }} now!</h1>
        <h2>Usage</h2>
        <p>{{ appimage.title }} is available as an AppImage which means "one
          app = one file", which you can download and run on your Linux system
          while you don't need a package manager and nothing gets changed in
          your system. Awesome! </p>
        <br>
        <p>
          AppImages are single-file applications that run on most
          Linux distributions. Download an application, make it executable,
          and run! No need to install. No system libraries or system
          preferences are altered. Most AppImages run on recent versions of
          Arch Linux, CentOS, Debian, Fedora, openSUSE, Red Hat, Ubuntu, and
          other common desktop distributions.
        </p>
        <br>

        <h3>Running {{ appimage.title }} on Linux without installation</h3>
        <p>Unlike other applications, AppImages do not need to be installed
          before they can be used. However, they need to be marked as
          executable before they can be run. This is a Linux
          security feature.</p>
        <br>

        <p>Behold! AppImages are usually not verified by others.
          Follow these instructions only if you trust the developer
          of the software. Use at your own risk!</p>
        <br>

        <p>Download the {{ appimage.title }} AppImage and make it
          executable using your file manager or by entering the
          following commands in a terminal:

          Then double-click the AppImage in the file manager to open it.
        </p>
        <br>
        <figure class="highlight">
          <pre><code class="language-bash" data-lang="bash">chmod +x ./*.AppImage</code></pre>
        </figure>

      </div>
    </section>
    <section>

    </section>
    {% include 'footer.html' %}
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{{ catalog.base_url }}/js/utils.js"></script>
    {% include 'light_dark_theme.html' %}

  </body>
</html>