<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ catalog.title }}</title>
    {% include 'head.html' %}
  </head>
  <body>
    {% include 'navigation.html' %}

    <!-- Hero / Featured Header -->
    <section style="margin-top: 3.25em;" class="hero is-medium is-bold has-text-centered">
      <div class="hero-body">
        <div class="container">
          <img class="appimage-hero-img" src="{{ path_prefix }}{{ catalog.image }}"
               alt="Appimage logo">
          <h1 class="title">
            {{ catalog.title }}
          </h1>
          <h2 class="subtitle">
            {{ catalog.description }}
          </h2>
          <form id="appimage-search-container" action="./search/" method="GET">
            <div class="form-row">
              <input id="appimage-search-box"
                class="input appimage-search-input"
                placeholder="Search for AppImages!"
                autofocus name="q"
              />
              <button class="button is-success" type="submit" style="margin-left: 15px;width: 48px;height: 48px;border-radius:50%">
                <i class="fa fa-search"></i>
              </button>

            </div>
          </form>


        </div>
      </div>
    </section>

    <!-- All the other code comes here! -->

    

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{{ path_prefix }}/js/utils.js"></script>
    {% include 'light_dark_theme.html' %}

  </body>
  {% include 'footer.html' %}

</html>