<div class="grid__item grid__item_one-third">
	<div class="card appimage-card mb-medium">
		<div class="card-content">
			<div class="media">
				<div class="media-left">
					<figure class="image is-128x128">
						<img src="{{ card.image }}" alt="{{ card.name }} logo"
								 style="position:absolute; top:0; left:0; width:100%;"
								 loading="lazy">
					</figure>
				</div>
				<div class="media-content">
					<p class="title is-4">{{ card.name }}</p>
					<p class="subtitle is-6">{{ card.maintainer }}</p>
				</div>
			</div>
			<div class="content">
				{{ card.summary }}
				<br>
				{{ card.categories_html }}
			</div>
		</div>
		<footer class="card-footer appimage-card-footer">
			<a href="{{ card.source_code_url }}" class="card-footer-item"
				 target="_blank" rel="noreferrer">
				<i class="fa fa-{is_github} ss-i"></i>
				<span class="ss-card-footer-text">{{ card.left_description }}</span>
			</a>
			<a href="{{ catalog.base_url }}/{{ card.name_lower_case }}"
				 class="card-footer-item" target="_blank" rel="noreferrer">
				<i class="fa fa-external-link-alt ss-i"></i>
				<span class="ss-card-footer-text">{{ card.right_description }}</span>
			</a>
		</footer>
	</div>
</div>