    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- SEO -->
    <meta name="description" content="{{ catalog.description }}">
    <meta name="keywords" content="{{ catalog.keywords }}">
    <meta name="author" content="{{ catalog.author }}">

    <!-- OG -->
    <meta property="og:title" content="{{ catalog.title }}" />
    <meta property="og:url" content="{{ catalog.url }}" />
    <meta property="og:image" content="{{ catalog.base_url }}{{ catalog.image }}" />
    <meta property="og:description" content="{{ catalog.description }}" />
    <meta property="og:site_name" content="{{ catalog.title }}" />

    <!-- Scripts -->
    <link rel="stylesheet" href="{{ catalog.base_url }}/css/appimage.css">
    <link rel="stylesheet" href="{{ catalog.base_url }}/css/main.css">
    <script src="https://kit.fontawesome.com/52ec62d041.js" crossorigin="anonymous" async></script>
</head>