<script>
  function darkTheme() {
    let rootSelector = $(":root").get(0);
    rootSelector.style.setProperty("--foreground-color", "#ffffff");
    rootSelector.style.setProperty("--foreground-color-2", "#fafafa");
    rootSelector.style.setProperty("--background-color", " #121212");
    rootSelector.style.setProperty("--background-color-2", " #000000");
    rootSelector.style.setProperty("--background-color-3", " #1D1D1D");
    $("label[for='themeSwitch']").html('<i class="fa fa-moon"></i><span class="sr-only">Dark Mode</span>')
    $('#themeSwitch').prop('checked', true);
    $("#bulma").attr("src","{{ path_prefix }}/img/made-with-bulma--white.png");
    rootSelector.style.setProperty("--cth", "0");
  }
  function lightTheme() {
    let rootSelector = $(":root").get(0);
    rootSelector.style.setProperty("--foreground-color", "#000");
    rootSelector.style.setProperty("--foreground-color-2", "#121212");
    rootSelector.style.setProperty("--background-color", " #fafafa");
    rootSelector.style.setProperty("--background-color-2", " #ffffff");
    rootSelector.style.setProperty("--background-color-3", " #dddddd");
    rootSelector.style.setProperty("--cth", "255");
    $("label[for='themeSwitch']").html('<i class="fa fa-sun"></i><span class="sr-only">Light Mode</span>')
    $('#themeSwitch').prop('checked', false);
    $("#bulma").attr("src","{{ path_prefix }}/img/made-with-bulma--black.png");

  }

  $(document).ready(function() {
    const userPrefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;
    const userThemePreference = localStorage.getItem('GetAppImageThemePreference');
    console.log(`userThemePreference is ${userThemePreference} `);
    switch(userThemePreference) {
      case 'DARK':
        darkTheme();
        break;
      case "LIGHT":
        // code block
        break;
      default:
        if (userPrefersDark) {
            darkTheme();
        }
        break;
    }

    $('#themeSwitch').change(function () {
      if (this.checked) {
        darkTheme();
        localStorage.setItem('GetAppImageThemePreference', 'DARK');
        console.log(`Setting Dark theme.`);
      } else {
        lightTheme();
        localStorage.setItem('GetAppImageThemePreference', 'LIGHT');
        console.log(`Setting Light theme.`);
      }
    });
  });
</script>