<!-- Navbar -->
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ catalog.base_url }}">
      <img src="{{ path_prefix }}{{ catalog.image }}" width="28" height="28"
           alt="{{ catalog.title }} logo">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="ssNavBarTop"
    onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="appimage-navbar" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{{ catalog.base_url}}/">
        Home
      </a>
      <a class="navbar-item" href="{{ catalog.base_url}}/all/">
        All AppImages
      </a>
      <a class="navbar-item" href="{{ catalog.base_url}}/categories/">
        All AppImages
      </a>
      <a class="navbar-item" href="{{ catalog.base_url}}/search/">
        Search
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#"  onclick="return false;">
          More
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" href="#about">
            About
          </a>
          <a class="navbar-item" href="mailto:srevinsaju@sugarlabs.org">
            Contact
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="{{ catalog.issue_tracker }}">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field" style="margin: 0.5em;">
          <input id="themeSwitch" type="checkbox" name="switchRoundedDefault" class="switch is-rounded">
          <label for="themeSwitch">
            <i class="fa fa-sun"></i><span class="sr-only">Light Mode</span>
          </label>
        </div>

      </div>
    </div>
  </div>
</nav>
